*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --background-color: #3e3e3e;
    --dark-background: #0f0909;
    --accent-color: #f97316;
    --hover-accent-color: #ff7f26;
    --success-color: #4caf50;
    --error-color: #f44336;
    --text-color: #ffffff;
    --placeholder-color: #b8b8b8;
    --light-gray: #b0b0b0;
}

body {
    background-color: var(--background-color);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.loginContainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: var(--dark-background);
    border-radius: 15px;
    padding: 40px;
    max-width: 600px;
    margin: 80px auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.formSection {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between; 
    position: relative; /* Position relative to allow absolute positioning of child elements */
}

.closeButton {
    position: absolute; /* Position it absolutely */
    right: 0px;
    background: transparent; /* No background */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor */
    color: var(--text-color); /* Use your theme color */
    transition: color 0.3s; /* Smooth transition for color */
}

.closeButton:hover {
    color: var(--hover-accent-color); /* Change color on hover */
}

.welcomeText {
    font-size: 16px;
    margin-bottom: 20px;
    color: var(--light-gray);
}

.signupText {
    text-align: center; 
    margin-top: 25px; 
    margin-bottom: 0;
}

.formSection h1 {
    font-size: 32px;
    margin-bottom: 25px;
    font-weight: 700;
}

.formSection a {
    text-decoration: none;
    color: var(--accent-color);
}

.formGroup {
    position: relative;
    margin-bottom: 20px; 
}

.formGroup:last-of-type {
    margin-bottom: 0; /* No margin for last input */
}

.formGroup label {
    position: absolute;
    pointer-events: none;
    transform: translate(10px, 21px) scale(1);
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
    color: var(--text-color);
    font-size: 16px;
    line-height: 1;
    left: 16px;
}

.formGroup input {
    margin-bottom: 10px;
    width: 100%;
    padding: 25px 23px 10px;
    border-radius: 25px;
    background-color: var(--background-color);
    border: none;
    color: var(--text-color);
    font-size: 16px;
    outline: none;
    transition: border 0.2s;
}

.formGroup input:not(:placeholder-shown) + label,
.formGroup input:focus + label {
    transform: translate(-1px, 10px) scale(0.8);
    color: var(--placeholder-color);
}

.formGroup input::placeholder {
    color: transparent; /* Keep placeholder invisible */
}

.formGroup input:focus {
    border: 2px solid var(--accent-color); /* Outline when focused */
}

.btnRegister {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 15px 20px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btnRegister:hover {
    background-color: var(--hover-accent-color); /* Change on hover */
}

.btnRegister:disabled {
    background-color: #ccc;    
    color: #666;               
    cursor: not-allowed;       
}

.passwordFieldWrapper {
    position: relative;
}

.passwordToggleBtn {
    position: absolute;
    right: 20px; /* Adjust based on your design */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Center the icon */
    background: none; /* No background */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor */
    color: inherit; /* Inherit color from parent */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .loginContainer {
        padding: 20px; /* Less padding on smaller screens */
    }

    .formSection {
        width: 100%; /* Full width on smaller screens */
    }
}
